{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>You don't have permission to do that. (404)</h1>
        <p>Please check your account settings.</p>
    </div>
{% endblock content %}